<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-housekeeper</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>housekeeper</id>
      <filePathMask>tag:HouseKeeper</filePathMask>
      <fileNameMask>*.out*</fileNameMask>
      <priority>100</priority>
      <expression>(**),(*) (**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1465391979128</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>dateTime</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>level</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>msg</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>File</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>File:(**) Filename:</expression>
          <synthSrcField>msg</synthSrcField>
          <synthRegExp>.*?File:(.*) Filename:.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>KB</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>Bytes</synthSource>
          <expression>groovy-script:
def a = (Bytes / 1024)
return new Double(a).round(2)
</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>MB</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>KB</synthSource>
          <expression>groovy-script: 
def b = (KB / 1024)
return new Double(b).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>GB</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>MB</synthSource>
          <expression>groovy-script: 
def b = (MB / 1024)
return new Double(b).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>AgeHours</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>Age</synthSource>
          <expression>groovy-script:
def a = (Age / 60)
return new Double(a).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>AgeDays</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>AgeHours</synthSource>
          <expression>groovy-script:
def a = (AgeHours / 24)
return new Double(a).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>MaxAgeHours</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>MaxAge</synthSource>
          <expression>groovy-script:
def a = (MaxAge / 60)
return new Double(a).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>MaxAgeDays</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSource>MaxAgeHours</synthSource>
          <expression>groovy-script:
def a = (MaxAgeHours / 24)
return new Double(a).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
      </fields>
      <example>
        <string>2015/05/28 14:39:56:626 +0100,INFO, Name:GridLogs File:C:\Users\newtonb1\Desktop\Workshop\FolderA\SHOUDGO.dat Filename:SHOUDGO.dat ModifiedDate:2015/05/28 14:15:53:768 +0100 Bytes:4544 Age:24.05 MaxAge:20 Action:DELETE</string>
        <string>2015/05/28 15:35:01:993 +0100,INFO Name:HPC_CommonData File:C:\Users\lon.SREUATSystemUser\AppData\Local\Temp\00052bed-03a8-4b4c-8534-063ae65a409b\2de795c1-cec9-4c89-bc93-36366765d456.dat Filename:2de795c1-cec9-4c89-bc93-36366765d456.dat ModifiedDate:2015/01/17 14:47:33:053 +0000 Bytes:36233763 Age:188627.49 MaxAge:10080 Action:DELETE</string>
        <string>2015/05/28 15:35:01:993 +0100,INFO Name:HPC_CommonData File:C:\Users\lon.SREUATSystemUser\AppData\Local\Temp\001def3d-3862-4ad2-89bf-a92d1a327e68\ed443350-026d-4a6d-b5c3-3c70cf16ee54.dat Filename:ed443350-026d-4a6d-b5c3-3c70cf16ee54.dat ModifiedDate:2015/02/23 17:25:42:447 +0000 Bytes:36687793 Age:135189.33 MaxAge:10080 Action:DELETE</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1432820424548-12912</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1432820424548-12912</wdId>
      <tags>HouseKeeper</tags>
      <dirName>./work/HouseKeeperApp-1.0/**</dirName>
      <hosts></hosts>
      <filePattern>*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,30,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->